<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Influencer Alert</title>
    <%- LRScript %>

    <script src='/socket.io/socket.io.js'></script>
    <script>
      var socket = io();

      socket.on('follow', function(data){
        console.log(data);
      });

      socket.on('influencer-alert', function(data){
        console.log(data);
      });

      socket.on('mention', function(data){
        console.log(data);
      });
    </script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header id="top-header">
      <div id="logo" title="Logo"></div>
      <div id="seti-info"> Want to know more about project SETI?</div>
    </header>
    <section id="main-content">
      <menu id="client-menu">

      </menu>
      <section id="influencer-list">

      </section>

    </section>

  </body>
</html>
