
body,html{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

/*
Text color: 393838;
shadow: box-shadow: 0px 0px 5px #888888;
*/

/* Multi use classes */

h1,h2,h3{
	line-height: normal;
}
.default-margin{
	margin-left: 20px;
}

.hor-sep-line{
	background: url("../img/sep-line-vis.png") repeat-x;
	width: 100%;
	height: 3px;
	overflow: visible;
	position: relative;
	top:-5px;
	z-index: 1;
	box-shadow: -2px 0px 10px #000000;
	overflow: hidden;
}
.vert-sep-line{
	position: relative;
	float: left;
	height: 13px;
	width: 1px;
	background: #4d4d4d;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
}
/* Body */
body {
	background: url("../img/bg.jpg");
}

/****************************************************/
/* Preloader */
/****************************************************/

#preloader{
	margin-left: 50%;
	margin-right: 50%;
	margin-top:250px;
	margin-bottom:50%;
}

/****************************************************/
/* Header */
/****************************************************/
#top-header{
	position: fixed;
	float: left;
	width:100%;
	height:120px;
	background: rgba(255,255,255,0.7);
	box-shadow: 0px 0px 5px #888888;
	z-index: 2;
}
#top-header #rocket{
	position: relative;
	float: left;
	margin-left: 14px;
	margin-top: 20px;
	height: 69px;
	width:60px;
}
#top-header #text-logo{
	float: left;
	margin-top: 48px;
	margin-left: 15px;
}
#top-header #seti-info{
	position: relative;
	float: right;
	width:203px;
	height: 14px;
	background: url("../img/know-more-text.png") no-repeat;
	margin-right: 20px;
	margin-top: 20px;
	margin-top: 50px;
	
}
#top-header #seti-info:hover {
	background: url("../img/know-more-text-hover.png") no-repeat;
	}
#top-header  #full-width-bar{
	width: 100%;
	height:3px;
	background: #2e2f2f;
}

/****************************************************/
/* Client List */
/****************************************************/

#client-menu{
	position: fixed;
	float: left;
	margin: 0;
	width: 270px;
	height: 100%;
	background: url("../img/dash-pat.jpg") repeat;
	padding: 0;
	margin-top: 120px;
	z-index: 2;
}
#client-menu #title{
	height: 50px;
	margin-left: 20px;
	margin-top: 30px;
}
#client-menu #title img{
	float: left;
	margin-top: 4px;
}
#client-menu #title h2{
	font-size: 15px;
	color: #fff;
	float: left;
	text-transform:uppercase;
	letter-spacing:2px;
	margin: 0;
	margin-left: 14px;
}
#client-menu #client-list{
	margin: 0;
	
	padding: 0;
}
#client-menu #client-list li{
	display: block;
	cursor: pointer;
	opacity: 0.8;
	position: relative;
	top: -8px;
	z-index:2;
}
#client-menu #client-list li .button-holder{
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 37px;
}
#client-menu #client-list li:hover{
	opacity: 1;
}
#client-menu #client-list li img{
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
#client-menu #client-list li .arrow{
	position: relative;
	float: left;
	left: 5px;
	opacity: 0;
}
#client-menu #client-list li h2{
	float: left;
	margin: 0;
	color: #fff;
	font-size: 12px;
	font-weight: 200;
	letter-spacing: 1px;
	border-left: 1px solid #444444;
	padding-left: 20px;
	
}
#client-menu #client-list .all-clients{
	margin-left: -4px;
	display: none; /* Temporary Disabled */
}
#client-menu #client-list .all-clients #all-client-icon{
	margin-top: 2px;
}
#client-menu #client-list .highlight{
	position: absolute;
	top:-3px;
}

/* Active client */
#client-menu #client-list li.active{
	opacity: 1;
}
#client-menu #client-list #active-content{
	margin-top: 30px;
	
	height: 200px;
}
#client-menu #client-list #active-content img{
	margin-left: 31px;
}
#client-menu #client-list #active-content .overlay{
	position: absolute;
	z-index: 2;
}
#client-menu #client-list #active-content .client-logo{
	height: 164px; /* Image size */
	width: 162px; /* Image size */
	overflow: hidden;
	position: absolute;
	z-index: 1;
}
#client-menu #client-list #active-content #stats{
	position: relative;
	float: left;
	display: block;
	margin-top: 180px;
	height: 20px;
	width: 100%;
}
#client-menu #client-list #active-content #stats img{
	margin-left: 0;
	margin-right: 0;
}
#client-menu #client-list #active-content #stats h3{
	position: relative;
	float: left;
	display: block;
	color: white;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	margin-top: 2px;
}
#client-menu #client-list #active-content #mentions{
	float: right;
	margin-right: 20px;
}
/****************************************************/
/* Main Content */
/****************************************************/
#main-content{
	position: relative;
	display: block;
	float: left;
	height: 100%;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
#influencer-list-content-holder{
	clear: both;
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	margin-bottom: 0;
	margin-top: 120px;
}
#influencer-list{
	margin-left: 270px;
	margin-right: 0;
	height: 100%;
}
#influencer-list #influencer-header h2{
	font-size: 15px;
	color: #393838;
	float: left;
	text-transform:uppercase;
	letter-spacing:2px;
	margin: 0;
	margin-left: 20px;
	margin-top: 30px;
}

#influencer-list #influencer-header #filter{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 24px;
}

#influencer-list #influencer-header #full-width-sep-line{
	position: relative;
	clear: both;
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	height: 1px;
	background: #d8dbdf;
}
#influencer-list .influencer{
	position: relative;
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	height: 50px;
	background-color:#fafafa;
	padding:10px;
	margin-top: 15px;
	box-shadow: 0px 0px 6px #b5b5b5;
	cursor: pointer;
	margin-bottom: 20px;
}
#influencer-list .influencer:hover{
	background-color:#fff;
	box-shadow: 0px 0px 6px #999999;
}

#influencer-list .influencer .c1{
	position: relative;
	float: left;
	display: block;
	width: 51px;
	height: 51px;
}
#influencer-list .influencer .c1-sep{
	position: relative;
	float: left;
	width: 1px;
	height: 32px;
	background-color:#e5e5e5;
	margin-left: 10px;
	margin-top: 9px;
}
/* Name and Message Content */
#influencer-list .influencer .c2{
	position: relative;
	float: left;
	margin-left: 8px;
	margin-top: -2px;
}
#influencer-list .influencer .name{
	clear: both;

}
#influencer-list .influencer .name .user-name{
	float: left;
	color:#393838;
	font-size: 12px;
	font-weight:700;
	text-transform:uppercase;
}
#influencer-list .influencer .name .name-sep{
	float: left;
	width: 1px;
	height: 11px;
	background: #e5e5e5;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
#influencer-list .influencer .name .twitter-name{
	position: relative;
	float: left;
	font-size: 11px;
	font-weight: 400;
	color: #858282;
}

#influencer-list .influencer .message{
	float: left;
	margin-top: 4px;
}
#influencer-list .influencer .message img{
	position: relative;
	float: left;
}
#influencer-list .influencer .message .text{
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -3px;
}
#influencer-list .influencer .message p{
	margin: 0;
}
#influencer-list .influencer .message .line1{
	font-size: 11px;
	color: #525252;
	font-weight: 400;
	margin-top: -2px;
}
#influencer-list .influencer .message .line1 em{
	font-weight: 700;
	font-style: normal;
	color: #bf311b;
}
#influencer-list .influencer .message .line2{
	font-size: 10px;
	margin-top: -6px;
	color: #a6a6a6;
}
/* Social Stats */
#influencer-list .influencer .c3{
	float: right;
}
#influencer-list .influencer .c3 .stats{
	float: left;
}
#influencer-list .influencer .c3 .stat{
	position: relative;
	margin-top: -2px;
}
#influencer-list .influencer .c3 .tweets{
	background: url("../img/tweet-icon.png") no-repeat 0px 3px;
}
#influencer-list .influencer .c3 .followers{
	background: url("../img/followers-icon.png") no-repeat 0px 3px;
}
#influencer-list .influencer .c3 .following{
	background: url("../img/following-icon.png") no-repeat 0px 3px;
}
#influencer-list .influencer .c3 p{
	margin: 0;
	margin-left: 20px;
	font-size: 11px;
	font-weight: 700;
	color: #bf311b;
}
#influencer-list .influencer .c3 .c3-sep{
	position: relative;
	float: left;
	width: 1px;
	height: 32px;
	background-color:#e5e5e5;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 9px;
}

